#front {
    margin-top: 10px; /* Adjust this value as needed */
}
body {
    background: lightgreen;
    font-family: Arial, sans-serif;
}

#front {
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    border: 1px solid black;
    font-family: Arial, sans-serif;
    padding: 20px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}