body {
    background: lightgreen;
    font-family: Arial, sans-serif;
}

#googleMap {
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 10px;
    width: 100%;
    height: 75vh;
}

#weather {
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 10px;
    padding-left: 20px;
}