/* NAVBAR STYLESHEET */

/* Muss noch ausgelagert werden */
body {
    background: lightgreen;
}

/* Hinzufügen einer schwarzen Hintergrundfarbe zur oberen Navigation */
.topnav {
    background-color: darkgreen;
    overflow: hidden;
    border-radius: 12px;
}

/* Styling der Links innerhalb der Navigationsleiste */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Ändern der Farbe der Links beim hovern */
.topnav a:hover {
    background-color: lightgreen;
    color: black;
}

/* Hinzufügen einer Farbe zum aktiven/aktuellen Reiter */
.topnav a.active {
    background-color: black;
    color: white;
}

/* Erstellen eines rechtsbündigen Reiter innerhalb der Navigationsleiste */
.topnav a.split {
    float: right;
    background-color: #04AA6D;
    color: white;
}

/* Ändern der Farbe des rechtsbündigen Reiters beim hovern */
.topnav a.split:hover {
    background-color: lightgreen;
    color: black;
}