body {
  background: lightgreen;
  font-family: Arial, sans-serif;
}

#tea-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

article {
  background-color: lightgoldenrodyellow;
  border-radius: 10px;
  padding: 16px;
  margin: 8px;
  border: 1px solid black;
  width: 250px;
  /* Fixed width for each article */
  flex-basis: 250px;
  /* Fixed flex basis for each article */
  box-sizing: border-box;
  /* Include border and padding in the width calculation */
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

article img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  border: 1px solid black;
  border-radius: 8px;
}

article:hover {
  transform: scale(1.02);
  border: 2px solid black;
}

/* Media queries for responsive design */
@media screen and (max-width: 768px) {
  article {
    width: calc(50% - 20px);
    /* 2 articles per row */
    flex-basis: calc(50% - 20px);
    /* 2 articles per row */
  }
}

@media screen and (max-width: 480px) {
  article {
    width: 100%;
    /* 1 article per row */
    flex-basis: 100%;
    /* 1 article per row */
  }
}

#loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid darkgreen;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}