body {
    background: #f8e1ae;
}

/* Hinzufügen einer schwarzen Hintergrundfarbe zur oberen Navigation */
.topnav {
    background-color: #432d2b;
    overflow: hidden;
}

/* Styling der Links innerhalb der Navigationsleiste */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Ändern der Farbe der Links beim Überfahren */
.topnav a:hover {
    background-color: #996A51;
    color: black;
}

/* Hinzufügen einer Farbe zum aktiven/aktuellen Link */
.topnav a.active {
    background-color: #996A51;
    color: white;
}

/* Erstellen eines rechtsbündigen (Split) Links innerhalb der Navigationsleiste */
.topnav a.split {
    float: right;
    background-color: #04AA6D;
    color: white;
}

/* Ändern der Farbe der Split-Links beim Überfahren */
.topnav a.split:hover {
    background-color: #996A51;
    color: black;
}